@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin: 0px;
    font-family: 'Sarala', sans-serif;
    }


    input[type=text],input[type=tel],input[type=date],input[type=file] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Sarala', sans-serif;
      }
      
    
      button[type=submit] {
        background-color: #10b6f3;
        height: 50px;
        width: 100px;
        font-family: 'Sarala', sans-serif;
        color: white;
      }
      button[type=reset] {
        background-color: #972538;
        height: 50px;
        width: 100px;
        font-family: 'Sarala', sans-serif;
        color: white;
      }




      div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 320px;
      }